@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Application will help you to track your Fitness Gaol. You can add your bodyweight and what type of body you want in a particular time of period.
    Moreover, what type of exercise you like do to achieve your future fitness goal.</p>
</div>
